<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatis.mapper.FoodCategoryMapper">

    <select id="findByResId" resultType="com.example.springbootmybatis.entity.FoodCategory" >
        select * from foodcategory where resId= #{resId}
    </select>

</mapper>