<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatis.mapper.OrderDetailMapper">

    <insert id="savafood" parameterType="com.example.springbootmybatis.entity.OrderDetail">
        insert into orderdetail ( orderId, foodId, num) VALUES (#{orderId},#{foodId},#{num})
    </insert>
    <select id="findByOrderId" resultType="com.example.springbootmybatis.entity.OrderDetail">
        select * from orderdetail where orderId=#{orderId}

    </select>
</mapper>